-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: se
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adver`
--

DROP TABLE IF EXISTS `adver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `adver` (
  `Adver_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Adver_Subject` varchar(255) NOT NULL,
  `Adver_Text` text DEFAULT NULL,
  `Adver_Date` datetime DEFAULT NULL,
  PRIMARY KEY (`Adver_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adver`
--

LOCK TABLES `adver` WRITE;
/*!40000 ALTER TABLE `adver` DISABLE KEYS */;
INSERT INTO `adver` VALUES (1,'╪ح╪╣┘╪د┘ ╪ز╪ش╪▒┘è╪ذ┘è','┘╪╡ ╪د┘╪ح╪╣┘╪د┘ ╪د┘╪ز╪ش╪▒┘è╪ذ┘è','2026-10-08 20:09:30');
/*!40000 ALTER TABLE `adver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `area`
--

DROP TABLE IF EXISTS `area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `area` (
  `Area_ID` int(11) NOT NULL AUTO_INCREMENT,
  `Area_Name` varchar(255) NOT NULL,
  PRIMARY KEY (`Area_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area`
--

LOCK TABLES `area` WRITE;
/*!40000 ALTER TABLE `area` DISABLE KEYS */;
INSERT INTO `area` VALUES (1,'╪ث┘à ╪»╪▒┘à╪د┘'),(2,'╪ذ╪ص╪▒┘è');
/*!40000 ALTER TABLE `area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extended_servce`
--

DROP TABLE IF EXISTS `extended_servce`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `extended_servce` (
  `Extended_ID` int(11) NOT NULL AUTO_INCREMENT,
  `info_id` varchar(20) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `First_Date` varchar(50) DEFAULT NULL,
  `Last_Date` varchar(50) DEFAULT NULL,
  `Extended_Reson` text DEFAULT NULL,
  `Extended_Date` datetime DEFAULT NULL,
  `Des_Bos` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Extended_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extended_servce`
--

LOCK TABLES `extended_servce` WRITE;
/*!40000 ALTER TABLE `extended_servce` DISABLE KEYS */;
INSERT INTO `extended_servce` VALUES (1,'12345678902',2,'2000-01-01','2026-01-01','╪د┘╪ص╪د╪ش╪ر ┘┘╪ز╪«╪╡╪╡','2026-10-08 20:09:30',0);
/*!40000 ALTER TABLE `extended_servce` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `information`
--

DROP TABLE IF EXISTS `information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `information` (
  `Person_ID` varchar(20) NOT NULL,
  `Person_Password` varchar(255) DEFAULT NULL,
  `Person_Name` varchar(255) NOT NULL,
  `Person_Avatar` varchar(500) DEFAULT NULL,
  `Person_Date` varchar(50) DEFAULT NULL,
  `Person_D_P` varchar(255) DEFAULT NULL,
  `Person_P_D` varchar(255) DEFAULT NULL,
  `Gander` varchar(20) DEFAULT NULL,
  `Person_Email` varchar(255) DEFAULT NULL,
  `Person_Job` varchar(255) DEFAULT NULL,
  `Person_State` int(11) DEFAULT NULL,
  `Person_City` int(11) DEFAULT NULL,
  `Person_School` int(11) DEFAULT NULL,
  `Person_Phone` varchar(20) DEFAULT NULL,
  `Person_Status` varchar(50) DEFAULT NULL,
  `Person_Kids` varchar(10) DEFAULT NULL,
  `Person_Computer` tinyint(1) DEFAULT NULL,
  `Person_Program` text DEFAULT NULL,
  `Reg_Status` tinyint(1) NOT NULL DEFAULT 0,
  `group_ID` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Person_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `information`
--

LOCK TABLES `information` WRITE;
/*!40000 ALTER TABLE `information` DISABLE KEYS */;
INSERT INTO `information` VALUES ('12345678901','7c4a8d09ca3762af61e59520943dc26494f8941b','┘à╪»┘è╪▒ ╪┤╪ج┘ê┘ ╪د┘┘à┘ê╪╕┘┘è┘',NULL,NULL,NULL,NULL,NULL,'boss@seg.com','╪┤╪ج┘ê┘ ╪د┘┘à┘ê╪╕┘┘è┘',1,1,1,'0912345678',NULL,NULL,NULL,NULL,1,0),('12345678902','7c4a8d09ca3762af61e59520943dc26494f8941b','┘à╪╣┘┘à ╪ز╪ش╪▒┘è╪ذ┘è',NULL,NULL,NULL,NULL,NULL,'teacher@seg.com','┘à╪╣┘┘à',1,2,2,'0911111111',NULL,NULL,NULL,NULL,1,0);
/*!40000 ALTER TABLE `information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `move`
--

DROP TABLE IF EXISTS `move`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `move` (
  `Move_ID` int(11) NOT NULL AUTO_INCREMENT,
  `info_id` varchar(20) DEFAULT NULL,
  `Old_Place` varchar(255) DEFAULT NULL,
  `New_Place` varchar(255) DEFAULT NULL,
  `Years_Service` varchar(50) DEFAULT NULL,
  `area_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `Subject_T` varchar(255) DEFAULT NULL,
  `Class_T` varchar(255) DEFAULT NULL,
  `Move_Reson` text DEFAULT NULL,
  `Move_Date` datetime DEFAULT NULL,
  `Des_Manger` int(11) NOT NULL DEFAULT 0,
  `Des_Bos` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Move_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `move`
--

LOCK TABLES `move` WRITE;
/*!40000 ALTER TABLE `move` DISABLE KEYS */;
INSERT INTO `move` VALUES (1,'12345678902','┘à╪»╪▒╪│╪ر ╪د┘╪س╪د┘┘ê┘è╪ر','┘à╪»╪▒╪│╪ر ╪د┘┘┘à┘ê╪░╪ش┘è╪ر','5',1,2,'╪▒┘è╪د╪╢┘è╪د╪ز','╪د┘╪س╪د┘╪س','╪د┘┘é╪▒╪ذ ┘à┘ ╪د┘╪│┘â┘','2026-10-08 20:09:30',2,0);
/*!40000 ALTER TABLE `move` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pension`
--

DROP TABLE IF EXISTS `pension`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pension` (
  `Pension_ID` int(11) NOT NULL AUTO_INCREMENT,
  `info_id` varchar(20) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `Date_Start` varchar(50) DEFAULT NULL,
  `Num_Service` varchar(50) DEFAULT NULL,
  `Pension_Reson` text DEFAULT NULL,
  `Pension_Date` datetime DEFAULT NULL,
  `Des_Manger` int(11) NOT NULL DEFAULT 0,
  `Des_Bos` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Pension_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pension`
--

LOCK TABLES `pension` WRITE;
/*!40000 ALTER TABLE `pension` DISABLE KEYS */;
INSERT INTO `pension` VALUES (1,'12345678902',2,'2000-01-01','26','╪ذ┘┘ê╪║ ╪د┘╪│┘ ╪د┘┘é╪د┘┘ê┘┘è╪ر','2026-10-08 20:09:30',2,0);
/*!40000 ALTER TABLE `pension` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `people`
--

DROP TABLE IF EXISTS `people`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `people` (
  `People_ID` varchar(20) NOT NULL,
  `People_Name` varchar(255) NOT NULL,
  `Mother_Name` varchar(255) DEFAULT NULL,
  `People_Email` varchar(255) DEFAULT NULL,
  `Date_Grad` varchar(50) DEFAULT NULL,
  `Grad_Type` varchar(100) DEFAULT NULL,
  `Grad_Univ` varchar(255) DEFAULT NULL,
  `Univ_Part` varchar(100) DEFAULT NULL,
  `People_Gander` varchar(20) DEFAULT NULL,
  `Birth_Date` varchar(50) DEFAULT NULL,
  `Place_Date` varchar(255) DEFAULT NULL,
  `People_Phone` varchar(20) DEFAULT NULL,
  `People_state` int(11) DEFAULT NULL,
  `People_area` int(11) DEFAULT NULL,
  `People_Naber` varchar(255) DEFAULT NULL,
  `Subject_T` varchar(255) DEFAULT NULL,
  `People_Skils` text DEFAULT NULL,
  `Other_Info` text DEFAULT NULL,
  `People_school` int(11) DEFAULT NULL,
  `Des_Bos` int(11) NOT NULL DEFAULT 0,
  `Point_Date` datetime DEFAULT NULL,
  PRIMARY KEY (`People_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `people`
--

LOCK TABLES `people` WRITE;
/*!40000 ALTER TABLE `people` DISABLE KEYS */;
INSERT INTO `people` VALUES ('12345678903','┘à╪ز┘é╪»┘à ╪ز╪ش╪▒┘è╪ذ┘è','┘ê╪د┘╪»╪ر ╪ز╪ش╪▒┘è╪ذ┘è╪ر','applicant@seg.com',NULL,'╪ذ┘â╪د┘╪▒┘è┘ê╪│',NULL,NULL,NULL,NULL,NULL,'0922222222',1,1,NULL,NULL,NULL,NULL,NULL,0,NULL);
/*!40000 ALTER TABLE `people` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preak`
--

DROP TABLE IF EXISTS `preak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preak` (
  `Preak_ID` int(11) NOT NULL AUTO_INCREMENT,
  `info_id` varchar(20) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `Preak_Type` varchar(100) DEFAULT NULL,
  `Preak_Num` varchar(50) DEFAULT NULL,
  `Date_Start` varchar(50) DEFAULT NULL,
  `Date_End` varchar(50) DEFAULT NULL,
  `Preak_Reson` text DEFAULT NULL,
  `Preak_Addres` varchar(255) DEFAULT NULL,
  `Preak_Phone` varchar(20) DEFAULT NULL,
  `Preak_Date` datetime DEFAULT NULL,
  `Des_Manger` int(11) NOT NULL DEFAULT 0,
  `Des_Bos` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Preak_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preak`
--

LOCK TABLES `preak` WRITE;
/*!40000 ALTER TABLE `preak` DISABLE KEYS */;
INSERT INTO `preak` VALUES (1,'12345678902',2,'╪│┘┘ê┘è╪ر','10','2026-11-01','2026-11-10','╪╕╪▒┘ê┘ ╪╣╪د╪خ┘┘è╪ر',NULL,NULL,'2026-10-08 20:09:30',2,0);
/*!40000 ALTER TABLE `preak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school`
--

DROP TABLE IF EXISTS `school`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `school` (
  `School_ID` int(11) NOT NULL AUTO_INCREMENT,
  `School_Name` varchar(255) NOT NULL,
  `School_Part` int(11) NOT NULL DEFAULT 0,
  `school_manger` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`School_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school`
--

LOCK TABLES `school` WRITE;
/*!40000 ALTER TABLE `school` DISABLE KEYS */;
INSERT INTO `school` VALUES (1,'┘à╪»╪▒╪│╪ر ╪د┘┘┘à┘ê╪░╪ش┘è╪ر',2,'12345678901'),(2,'┘à╪»╪▒╪│╪ر ╪د┘╪س╪د┘┘ê┘è╪ر',1,NULL);
/*!40000 ALTER TABLE `school` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `school_needs`
--

DROP TABLE IF EXISTS `school_needs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `school_needs` (
  `Need_ID` int(11) NOT NULL AUTO_INCREMENT,
  `info_id` varchar(20) DEFAULT NULL,
  `state_id` int(11) DEFAULT NULL,
  `area_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `Need_Tea` text DEFAULT NULL,
  `Num_Tea` varchar(255) DEFAULT NULL,
  `Other_Need` text DEFAULT NULL,
  `Need_Date` datetime DEFAULT NULL,
  `Des_Bos` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Need_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `school_needs`
--

LOCK TABLES `school_needs` WRITE;
/*!40000 ALTER TABLE `school_needs` DISABLE KEYS */;
INSERT INTO `school_needs` VALUES (1,'12345678901',1,1,1,'╪▒┘è╪د╪╢┘è╪د╪ز ┘┘è╪▓┘è╪د╪ة','2 1','┘╪د ┘è┘ê╪ش╪»','2026-10-08 20:09:30',0);
/*!40000 ALTER TABLE `school_needs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state`
--

DROP TABLE IF EXISTS `state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `state` (
  `State_ID` int(11) NOT NULL AUTO_INCREMENT,
  `State_Name` varchar(255) NOT NULL,
  PRIMARY KEY (`State_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state`
--

LOCK TABLES `state` WRITE;
/*!40000 ALTER TABLE `state` DISABLE KEYS */;
INSERT INTO `state` VALUES (1,'╪د┘╪«╪▒╪╖┘ê┘à'),(2,'╪د┘╪ش╪▓┘è╪▒╪ر');
/*!40000 ALTER TABLE `state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `tkaod`
--

DROP TABLE IF EXISTS `tkaod`;
/*!50001 DROP VIEW IF EXISTS `tkaod`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `tkaod` AS SELECT
 1 AS `Pension_ID`,
  1 AS `info_id`,
  1 AS `school_id`,
  1 AS `Date_Start`,
  1 AS `Num_Service`,
  1 AS `Pension_Reson`,
  1 AS `Pension_Date`,
  1 AS `Des_Manger`,
  1 AS `Des_Bos` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `tkaod`
--

/*!50001 DROP VIEW IF EXISTS `tkaod`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY INVOKER */
/*!50001 VIEW `tkaod` AS select `pension`.`Pension_ID` AS `Pension_ID`,`pension`.`info_id` AS `info_id`,`pension`.`school_id` AS `school_id`,`pension`.`Date_Start` AS `Date_Start`,`pension`.`Num_Service` AS `Num_Service`,`pension`.`Pension_Reson` AS `Pension_Reson`,`pension`.`Pension_Date` AS `Pension_Date`,`pension`.`Des_Manger` AS `Des_Manger`,`pension`.`Des_Bos` AS `Des_Bos` from `pension` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-09 16:34:15
